<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/userweb.css">
</head>
<body>
    <section id="dashboard" class="dashboard"">
        <nav class="menu">
          <button data-section="drivers"><a href="./userweb.html">Pilotos</a></button>
          <button data-section="vehicles"><a href="./vehicles.html">Vehículos</a></button>
          <button data-section="tracks"><a href="./circuits.html">Circuitos</a></button>
          <button data-section="race"><a href="./simulation.html">Simulación</a></button>
        </nav>
    </section>
</body>
</html>